body {
  height:100%
}

[ng-app] {
  height:100%
}




button .material-icons {
	margin-bottom: 12px;
}

.classified.ng-enter, .classified.ng-move{
	transition: 0.4s all;
	opacity: 0;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active{
	opacity: 1;
}

.classified.ng-leave{
	animation: 0.4s fade_classified;
}

@keyframes fade_classified{
	from { opacity: 1; }
	to {opacity: 0;}
}


 .sidebar {
      width: 250px;
      height: 1500px;
      background-color: #1b5c71;
      float: left;
      position: fixed;
      top: 70px;
      overflow: hidden;
    }
    